<%- include('../parts/html-head') %>
<%- include('../parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <!-- 上一頁 -->
                    <li class="page-item <%= page==1 ? "disabled":""  %>">
                        <!-- 條件(三元)運算 (條件表達式 ? true的時候執行 : false的時候執行) -->
                        <a class="page-link" href="/address-book/list/<%= (page-1) %>">
                            <i class="fas fa-arrow-circle-left"></i>
                        </a>
                    </li>

                    <!-- 每一頁 -->
                    <% for(i=1; i<=totalPage; i++) { %>
                    <li class="page-item <%= i==page ? "active":""  %>">
                        <a class="page-link" href="/address-book/list/<%= i %>">
                            <%= i %>
                        </a>
                    </li>
                    <%  } %>

                    <!-- 下一頁 -->
                    <li class="page-item <%= page==totalPage ? "disabled":""  %>">
                        <a class="page-link" href="/address-book/list/<%= page+1 %>">
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><i class="fas fa-trash-alt"></i></th>
                <th scope="col">#</th>
                <th scope="col">姓名</th>
                <th scope="col">email</th>
                <th scope="col">生日</th>
                <th scope="col">手機</th>
                <th scope="col">地址</th>
                <th scope="col"><i class="fas fa-edit"></i></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i of rows){ %>
            <tr>
                <td>
                    <a href="javascript: del_it(<%= i.sid %>)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
                <td><%= i.sid %></td>
                <td><%= i.name %></td>
                <td><%= i.email %></td>
                <td><%= i.birthday %></td>
                <td><%= i.mobile %></td>
                <td><%= i.address %></td>
                <td>
                    <a href="/address-book/edit/<%= i.sid %>">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('../parts/scripts') %>
<script>
    function del_it(sid) {
        if(confirm(`你確定要刪除編號為${sid}的資料嗎?`)) {
            location.href='/address-book/del/'+sid;
        }
    }
</script>
<%- include('../parts/html-foot') %>